#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.logo {
  height: 2em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
