:root {
  font-family: "Faculty Glyphic", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  --border-sm: 4px;
  --border-md: 6px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

body {
  margin: 0;
  background: #123;
  color: #fff;
  height: 100dvh;
}

button {
  background: unset;
  border: unset;
  color: inherit;
}

.content,
textarea {
  padding: 16px;
}

textarea {
  background: unset;
  font-family: "Fira Mono", monospace;
  font-size: 14px;
  flex-grow: 1;
  color: #eee;
  border: none;

  &:focus-visible {
    outline: none;
    border-color: #db5;
  }
}

.content-and-editor {
  height: 100%;
  flex-grow: 1;
  overflow: clip;
  display: grid;
  grid-template-columns: 1fr auto 50%;

  transition: 1s grid-template-columns;

  &:has(.editor[aria-hidden="true"]) {
    grid-template-columns: 1fr auto 0;
  }

  a {
    color: #49f;
  }
}

.editor-toggler {
  position: relative;
  background: #234;
  border-left: var(--border-sm) solid #345;
  border-right: var(--border-sm) solid #345;
  border-radius: var(--border-sm);
  rotate: 180deg;
  writing-mode: vertical-lr;
  text-align: center;
  font-family: "Fira Mono";
  color: #ccc;
  font-size: 14px;
  transition: color .2s, background .2s, border-color .2s;

  button {
    position: absolute;
    inset: 0;
  }

  &:hover {
    background: #345;
    border-right-color: #234;
    border-left-color: #456;
    color: #fff;
  }

  &:active {
    border-color: #345;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.panel-wrapper {
  z-index: 1;
  height: 0;
  display: flex;
  flex-direction: column;
  border: var(--border-md) solid #c94;
  border-top-color: #eb4;
  border-left-color: #eb4;
  border-radius: var(--border-md);
  background: #345;
  flex-grow: 1;
}

.editor {
  background: #123;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
  }
}

.tab-content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &[aria-hidden="true"] {
    display: none;
  }
}

.content {
  border: calc(var(--border-md) * 1.5) solid #123;
  overflow-y: auto;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

[role="tablist"] {
  display: flex;
  gap: 6px;

  button {
    border: var(--border-md) solid transparent;
    border-top-left-radius: var(--border-md);
    border-top-right-radius: var(--border-md);
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    transition: color .2s, background .2s, border-color .2s;
    color: #bbc;
    margin-bottom: calc(var(--border-md) * -1);

    &:hover {
      color: #fff;
      background: #345;
      border-top-color: #456;
      border-left-color: #456;
      border-right-color: #234;
    }

    &.add {
      display: grid;
      place-items: center;
    }
  }

  [role="tab"] {
    position: relative;
    padding-block: 4px;
    padding-inline: 12px;

    &:before, &:after {
      content: '';
      position: absolute;
      bottom: calc(var(--border-md) * -2.25);
      width: 8px;
      height: 8px;
      border-radius: calc(1px * infinity);
      opacity: 0;
    }

    &:before {
      left: calc(var(--border-md) * -2.25);
    }

    &:after {
      right: calc(var(--border-md) * -2);
    }

    &[aria-selected="true"] {
      z-index: 2;
      background: #c94;
      border-top: var(--border-md) solid #eb4;
      border-left: var(--border-md) solid #eb4;
      border-right: var(--border-md) solid #a62;
      color: #521;
      border-bottom: var(--border-md) solid #a62;
      transition: none;

      &:before, &:after {
        background: #a62;
        border: var(--border-md) solid #eb4;
        opacity: 1;
      }
    }
  }
}

.toolbar {
  padding-block: calc(var(--border-md) * 1.5);
  margin-inline: 16px;
  display: flex;
  gap: 4px;
  pointer-events: none;

  border-top: 2px solid transparent;
  border-bottom: 2px solid #234;

  & > * {
    pointer-events: all;
  }

  button {
    display: grid;
    place-items: center;
    background: #234;
    border: var(--border-sm) solid;
    border-color: #345;
    border-radius: var(--border-sm);
    font-size: 14px;
    font-weight: 500;
    min-height: 2rem;
    color: #ccc;
    transition: background .3s, border-color .3s, color .3s;

    &.text {
      text-transform: uppercase;
      padding-top: .1em;
    }

    &:hover {
      background: #345;
      border-top-color: #456;
      border-right-color: #234;
      border-bottom-color: #234;
      border-left-color: #456;
      color: #fff;
    }

    &:active {
      border-color: #345;
    }

    &.delete {
      background: #700;
      border-color: #921;

      &:hover {
        background: #811;
        border-top-color: #a22;
        border-right-color: #600;
        border-bottom-color: #600;
        border-left-color: #a22;
      }

      &:active {
        border-color: #811;
      }
    }
  }

  .undo, .redo {
    font-size: 20px;
    aspect-ratio: 1;
  }

  button:not(.undo, .redo) {
    padding-inline: .5rem;
  }
}
